body{
    overflow: hidden;
}

.horizontal-bg{
    position: fixed;
    right: -5%;
    bottom: 0;
    
    height: 70vh;
    width: 124.444444444; /* 100 * 16 / 9 */
    min-width: 70vw;
    min-height: 39.375vw; /* 100 * 9 / 16 */

    z-index: -1;

    opacity: 100%;
    -webkit-filter: contrast(10%);
            filter: contrast(150%);
}
.vertical-bg{
    position: fixed;
    right: -50%;
    bottom: 30%;
    
    height: 50vh;
    width: 88.8888888889vh; /* 100 * 16 / 9 */
    min-width: 50vw;
    min-height: 28.125vw; /* 100 * 9 / 16 */

    z-index: -1;

    opacity: 100%;
    -webkit-filter: contrast(150%);
            filter: contrast(150%);

    transform: rotate(-90deg);
}

#main-menu {
    --scrollDeg: 15deg;
    position: fixed;
    transition: opacity 1s cubic-bezier(.35,.19,.61,1.98), -webkit-filter 1s cubic-bezier(.35,.19,.61,1.98);
    transition: opacity 1s cubic-bezier(.35,.19,.61,1.98), filter 1s cubic-bezier(.35,.19,.61,1.98);
    transition: opacity 1s cubic-bezier(.35,.19,.61,1.98), filter 1s cubic-bezier(.35,.19,.61,1.98), -webkit-filter 1s cubic-bezier(.35,.19,.61,1.98);

    z-index: 1;
}
#new-menu{
    --scrollDeg: 15deg;
    position: fixed;

    transition: opacity 1s cubic-bezier(.35,.19,.61,1.98), -webkit-filter 1s cubic-bezier(.35,.19,.61,1.98);
    transition: opacity 1s cubic-bezier(.35,.19,.61,1.98), filter 1s cubic-bezier(.35,.19,.61,1.98);
    transition: opacity 1s cubic-bezier(.35,.19,.61,1.98), filter 1s cubic-bezier(.35,.19,.61,1.98), -webkit-filter 1s cubic-bezier(.35,.19,.61,1.98);

    display: none;
    z-index: 1;
}
#past-menu{
    --scrollDeg: 15deg;
    position: fixed;

    transition: opacity 1s cubic-bezier(.35,.19,.61,1.98), -webkit-filter 1s cubic-bezier(.35,.19,.61,1.98);
    transition: opacity 1s cubic-bezier(.35,.19,.61,1.98), filter 1s cubic-bezier(.35,.19,.61,1.98);
    transition: opacity 1s cubic-bezier(.35,.19,.61,1.98), filter 1s cubic-bezier(.35,.19,.61,1.98), -webkit-filter 1s cubic-bezier(.35,.19,.61,1.98);

    display: none;
    z-index: 1;
}
#undone-menu{
    --scrollDeg: 15deg;
    position: fixed;

    transition: opacity 1s cubic-bezier(.35,.19,.61,1.98), -webkit-filter 1s cubic-bezier(.35,.19,.61,1.98);
    transition: opacity 1s cubic-bezier(.35,.19,.61,1.98), filter 1s cubic-bezier(.35,.19,.61,1.98);
    transition: opacity 1s cubic-bezier(.35,.19,.61,1.98), filter 1s cubic-bezier(.35,.19,.61,1.98), -webkit-filter 1s cubic-bezier(.35,.19,.61,1.98);

    display: none;
    z-index: 1;
}


.menu-disappear{
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    z-index: 0 !important;
}

.horizontal{
    top: calc(50vh - 75px);
    left: 2vw;

    width: 70vw;
    max-width: 1150px;
    min-width: 650px;
    height: 150px;
}

.vertical{
    top: calc(84.5vh - 75px);
    left: 45vw;

    width: 100vh;
    max-width: 575px;
    height: 150px;

    transform-origin: center left;
    transform: rotateZ(-90deg);
    -webkit-transform-origin: center left;
    -webkit-transform: rotateZ(-90deg);
}

.menu {
    width: 100%;
    height: 100%;
    position: relative;

    transform-style: preserve-3d; 
    transform: rotateX(var(--scrollDeg));
    -webkit-transform: rotateX(var(--scrollDeg));
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;

    font-size: 150px;
    text-align: left;
    color: black;
    
    /* for test */
    /* background-color: green;
    opacity: 50%; */

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;

    outline: 1px solid transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

/* MAIN MENU */
#face1 { 
    transform: rotateX(0deg) translateZ(75px);
    -webkit-transform: rotateX(0deg) translateZ(75px);
}
#face2 { 
    transform: rotateX(180deg) translateZ(75px); 
    -webkit-transform: rotateX(180deg) translateZ(75px); 
}
#face3 { 
    transform: rotateX(90deg) translateZ(75px); 
    -webkit-transform: rotateX(90deg) translateZ(75px);
}
#face4 { 
    transform: rotateX(-90deg) translateZ(75px); 
    -webkit-transform: rotateX(-90deg) translateZ(75px); 
}

/* PAST MENU */
#face5 { 
    transform: rotateX(0deg) translateZ(181px);
    -webkit-transform: rotateX(0deg) translateZ(181px);
}
#face6 { 
    transform: rotateX(45deg) translateZ(181px); 
    -webkit-transform: rotateX(45deg) translateZ(181px);
}
#face7 { 
    transform: rotateX(-45deg) translateZ(181px); 
    -webkit-transform: rotateX(-45deg) translateZ(181px); 
}
#face8 { 
    transform: rotateX(90deg) translateZ(181px); 
    -webkit-transform: rotateX(90deg) translateZ(181px); 
}
#face9 { 
    transform: rotateX(-90deg) translateZ(181px); 
    -webkit-transform: rotateX(-90deg) translateZ(181px); 
}
#face10 { 
    transform: rotateX(135deg) translateZ(181px); 
    -webkit-transform: rotateX(135deg) translateZ(181px); 
}
#face11 { 
    transform: rotateX(-135deg) translateZ(181px); 
    -webkit-transform: rotateX(-135deg) translateZ(181px); 
}
#face12 { 
    transform: rotateX(180deg) translateZ(181px); 
    -webkit-transform: rotateX(180deg) translateZ(181px); 
}

/* NEW MENU */
#face13 { 
    transform: rotateX(0deg) translateZ(43.5px);
    -webkit-transform: rotateX(0deg) translateZ(43.5px);
}
#face14 { 
    transform: rotateX(120deg) translateZ(43.5px); 
    -webkit-transform: rotateX(120deg) translateZ(43.5px);
}
#face15 { 
    transform: rotateX(-120deg) translateZ(43.5px); 
    -webkit-transform: rotateX(-120deg) translateZ(43.5px); 
}

/* UNDONE MENU */
#face16 { 
    transform: rotateX(0deg) translateZ(43.5px);
    -webkit-transform: rotateX(0deg) translateZ(43.5px);
}
#face17 { 
    transform: rotateX(120deg) translateZ(43.5px); 
    -webkit-transform: rotateX(120deg) translateZ(43.5px);
}
#face18 { 
    transform: rotateX(-120deg) translateZ(43.5px); 
    -webkit-transform: rotateX(-120deg) translateZ(43.5px); 
}

.option-circle{

    position: absolute;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    top: calc(50% - 10px);
    right: 5%;

    outline: 1px solid transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    
    background-color: transparent;
    background-image: none;
    background-size: cover;

    z-index: 2;
    border: 4px solid black;

    transition: all 0.25s cubic-bezier(.35,.19,.51,1.35);
    
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;


    -webkit-animation: none;
            animation: none;
}

.squiggle{
    -webkit-animation: squiggly-anim 0.15s linear infinite;
            animation: squiggly-anim 0.15s linear infinite;
}

@-webkit-keyframes squiggly-anim {
    0% {
      -webkit-filter: url("#squiggly-0");
              filter: url("#squiggly-0");
    }
    25% {
      -webkit-filter: url("#squiggly-2");
              filter: url("#squiggly-2");
      transform: translateY(-2px) rotate(-1.25deg);
    }
    50% {
      -webkit-filter: url("#squiggly-1");
              filter: url("#squiggly-1");
      transform: translateX(1.75px) rotate(2.25deg);
    }
    75% {
      -webkit-filter: url("#squiggly-3");
              filter: url("#squiggly-3");
      transform: translateY(-1.5px) rotate(-1deg);
    }
    100% {
      -webkit-filter: url("#squiggly-4");
              filter: url("#squiggly-4");
      transform: translateX(1.25px) rotate(2deg);
    }
}

@keyframes squiggly-anim {
    0% {
      -webkit-filter: url("#squiggly-0");
              filter: url("#squiggly-0");
    }
    25% {
      -webkit-filter: url("#squiggly-2");
              filter: url("#squiggly-2");
      transform: translateY(-2px) rotate(-1.25deg);
    }
    50% {
      -webkit-filter: url("#squiggly-1");
              filter: url("#squiggly-1");
      transform: translateX(1.75px) rotate(2.25deg);
    }
    75% {
      -webkit-filter: url("#squiggly-3");
              filter: url("#squiggly-3");
      transform: translateY(-1.5px) rotate(-1deg);
    }
    100% {
      -webkit-filter: url("#squiggly-4");
              filter: url("#squiggly-4");
      transform: translateX(1.25px) rotate(2deg);
    }
}

.squiggle-less-rotate{
    -webkit-animation: squiggly-less-rotate-anim 0.15s linear infinite;
            animation: squiggly-less-rotate-anim 0.15s linear infinite;
}

@-webkit-keyframes squiggly-less-rotate-anim {
    0% {
      -webkit-filter: url("#squiggly-0");
              filter: url("#squiggly-0");
    }
    25% {
      -webkit-filter: url("#squiggly-2");
              filter: url("#squiggly-2");
      transform: translateY(-1.5px) rotate(-1.25deg);
    }
    50% {
      -webkit-filter: url("#squiggly-1");
              filter: url("#squiggly-1");
      transform: translateX(1px) rotate(1deg);
    }
    75% {
      -webkit-filter: url("#squiggly-3");
              filter: url("#squiggly-3");
      transform: translateY(-1.3px) rotate(-1deg);
    }
    100% {
      -webkit-filter: url("#squiggly-4");
              filter: url("#squiggly-4");
      transform: translateX(0.8px) rotate(0.75deg);
    }
}

@keyframes squiggly-less-rotate-anim {
    0% {
      -webkit-filter: url("#squiggly-0");
              filter: url("#squiggly-0");
    }
    25% {
      -webkit-filter: url("#squiggly-2");
              filter: url("#squiggly-2");
      transform: translateY(-1.5px) rotate(-1.25deg);
    }
    50% {
      -webkit-filter: url("#squiggly-1");
              filter: url("#squiggly-1");
      transform: translateX(1px) rotate(1deg);
    }
    75% {
      -webkit-filter: url("#squiggly-3");
              filter: url("#squiggly-3");
      transform: translateY(-1.3px) rotate(-1deg);
    }
    100% {
      -webkit-filter: url("#squiggly-4");
              filter: url("#squiggly-4");
      transform: translateX(0.8px) rotate(0.75deg);
    }
}


.buzz{
    -webkit-animation: buzz-anim 0.1s linear infinite;
            animation: buzz-anim 0.1s linear infinite;
}

@-webkit-keyframes buzz-anim {
    25%{
        transform: translateX(-3px) rotate(-4deg);
    }
    50% {
        transform: translateX(3px) rotate(4deg);
    }
    75%{
        transform: translateX(-2px) rotate(-3deg);
    }
    100% {
        transform: translateX(2px) rotate(3deg);
    }
}

@keyframes buzz-anim {
    25%{
        transform: translateX(-3px) rotate(-4deg);
    }
    50% {
        transform: translateX(3px) rotate(4deg);
    }
    75%{
        transform: translateX(-2px) rotate(-3deg);
    }
    100% {
        transform: translateX(2px) rotate(3deg);
    }
}

.buzz-rotate{
    -webkit-animation: buzz-rotate-anim 0.15s linear infinite;
            animation: buzz-rotate-anim 0.15s linear infinite;
}
@-webkit-keyframes buzz-rotate-anim {
    0%{
        transform: rotate(90deg);
    }
    25%{
        transform: translateY(-5.5px) rotate(86deg);
    }
    50% {
        transform: translateX(5.5px) rotate(95deg);
    }
    75%{
        transform: translateY(-4.5px) rotate(87deg);
    }
    98% {
        transform: translateX(4.5px) rotate(92deg);
    }
    100%{
        transform: rotate(90deg);
    }
}
@keyframes buzz-rotate-anim {
    0%{
        transform: rotate(90deg);
    }
    25%{
        transform: translateY(-5.5px) rotate(86deg);
    }
    50% {
        transform: translateX(5.5px) rotate(95deg);
    }
    75%{
        transform: translateY(-4.5px) rotate(87deg);
    }
    98% {
        transform: translateX(4.5px) rotate(92deg);
    }
    100%{
        transform: rotate(90deg);
    }
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                 supported by Chrome, Edge, Opera and Firefox */
  }