body{
    overflow-y: hidden;
}

#main-menu {
    --scrollDeg: 15deg;
    position: fixed;
    transition: opacity 1s cubic-bezier(.35,.19,.61,1.98), -webkit-filter 1s cubic-bezier(.35,.19,.61,1.98);
    transition: opacity 1s cubic-bezier(.35,.19,.61,1.98), filter 1s cubic-bezier(.35,.19,.61,1.98);
    transition: opacity 1s cubic-bezier(.35,.19,.61,1.98), filter 1s cubic-bezier(.35,.19,.61,1.98), -webkit-filter 1s cubic-bezier(.35,.19,.61,1.98);

    z-index: 1;
}
#new-menu{
    --scrollDeg: 15deg;
    position: fixed;

    transition: opacity 1s cubic-bezier(.35,.19,.61,1.98), -webkit-filter 1s cubic-bezier(.35,.19,.61,1.98);
    transition: opacity 1s cubic-bezier(.35,.19,.61,1.98), filter 1s cubic-bezier(.35,.19,.61,1.98);
    transition: opacity 1s cubic-bezier(.35,.19,.61,1.98), filter 1s cubic-bezier(.35,.19,.61,1.98), -webkit-filter 1s cubic-bezier(.35,.19,.61,1.98);

    display: none;
    z-index: 1;
}
#past-menu{
    --scrollDeg: 15deg;
    position: fixed;

    transition: opacity 1s cubic-bezier(.35,.19,.61,1.98), -webkit-filter 1s cubic-bezier(.35,.19,.61,1.98);
    transition: opacity 1s cubic-bezier(.35,.19,.61,1.98), filter 1s cubic-bezier(.35,.19,.61,1.98);
    transition: opacity 1s cubic-bezier(.35,.19,.61,1.98), filter 1s cubic-bezier(.35,.19,.61,1.98), -webkit-filter 1s cubic-bezier(.35,.19,.61,1.98);

    display: none;
    z-index: 1;
}
#undone-menu{
    --scrollDeg: 15deg;
    position: fixed;

    transition: opacity 1s cubic-bezier(.35,.19,.61,1.98), -webkit-filter 1s cubic-bezier(.35,.19,.61,1.98);
    transition: opacity 1s cubic-bezier(.35,.19,.61,1.98), filter 1s cubic-bezier(.35,.19,.61,1.98);
    transition: opacity 1s cubic-bezier(.35,.19,.61,1.98), filter 1s cubic-bezier(.35,.19,.61,1.98), -webkit-filter 1s cubic-bezier(.35,.19,.61,1.98);

    display: none;
    z-index: 1;
}


.menu-disappear{
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    z-index: 0 !important;
}

.horizontal{
    top: calc(50vh - 75px);
    left: 2vw;

    width: 70vw;
    max-width: 1150px;
    min-width: 650px;
    height: 150px;
}

.vertical{
    top: calc(84.5vh - 75px);
    left: 45vw;

    width: 100vh;
    max-width: 575px;
    height: 150px;

    transform-origin: center left;
    transform: rotateZ(-90deg);
    -webkit-transform-origin: center left;
    -webkit-transform: rotateZ(-90deg);
}

.menu {
    width: 100%;
    height: 100%;
    position: relative;

    transform-style: preserve-3d; 
    transform: rotateX(var(--scrollDeg));
    -webkit-transform: rotateX(var(--scrollDeg));
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;

    font-size: 150px;
    text-align: left;
    color: black;
    
    /* for test */
    /* background-color: green;
    opacity: 50%; */

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    outline: 1px solid transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

/* MAIN MENU */
#face1 { 
    transform: rotateX(0deg) translateZ(75px);
    -webkit-transform: rotateX(0deg) translateZ(75px);
}
#face2 { 
    transform: rotateX(180deg) translateZ(75px); 
    -webkit-transform: rotateX(180deg) translateZ(75px); 
}
#face3 { 
    transform: rotateX(90deg) translateZ(75px); 
    -webkit-transform: rotateX(90deg) translateZ(75px);
}
#face4 { 
    transform: rotateX(-90deg) translateZ(75px); 
    -webkit-transform: rotateX(-90deg) translateZ(75px); 
}

/* PAST MENU */
#face5 { 
    transform: rotateX(0deg) translateZ(181px);
    -webkit-transform: rotateX(0deg) translateZ(181px);
}
#face6 { 
    transform: rotateX(45deg) translateZ(181px); 
    -webkit-transform: rotateX(45deg) translateZ(181px);
}
#face7 { 
    transform: rotateX(-45deg) translateZ(181px); 
    -webkit-transform: rotateX(-45deg) translateZ(181px); 
}
#face8 { 
    transform: rotateX(90deg) translateZ(181px); 
    -webkit-transform: rotateX(90deg) translateZ(181px); 
}
#face9 { 
    transform: rotateX(-90deg) translateZ(181px); 
    -webkit-transform: rotateX(-90deg) translateZ(181px); 
}
#face10 { 
    transform: rotateX(135deg) translateZ(181px); 
    -webkit-transform: rotateX(135deg) translateZ(181px); 
}
#face11 { 
    transform: rotateX(-135deg) translateZ(181px); 
    -webkit-transform: rotateX(-135deg) translateZ(181px); 
}
#face12 { 
    transform: rotateX(180deg) translateZ(181px); 
    -webkit-transform: rotateX(180deg) translateZ(181px); 
}

/* NEW MENU */
#face13 { 
    transform: rotateX(0deg) translateZ(43.5px);
    -webkit-transform: rotateX(0deg) translateZ(43.5px);
}
#face14 { 
    transform: rotateX(120deg) translateZ(43.5px); 
    -webkit-transform: rotateX(120deg) translateZ(43.5px);
}
#face15 { 
    transform: rotateX(-120deg) translateZ(43.5px); 
    -webkit-transform: rotateX(-120deg) translateZ(43.5px); 
}

/* UNDONE MENU */
#face16 { 
    transform: rotateX(0deg) translateZ(43.5px);
    -webkit-transform: rotateX(0deg) translateZ(43.5px);
}
#face17 { 
    transform: rotateX(120deg) translateZ(43.5px); 
    -webkit-transform: rotateX(120deg) translateZ(43.5px);
}
#face18 { 
    transform: rotateX(-120deg) translateZ(43.5px); 
    -webkit-transform: rotateX(-120deg) translateZ(43.5px); 
}

.option-circle{
    position: absolute;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    top: calc(50% - 10px);
    right: 5%;

    outline: 1px solid transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    border: 4px solid black;

    transition: all 0.25s cubic-bezier(.35,.19,.61,1.98);
    transform: scale(1);
    -webkit-animation: none;
            animation: none;
}

.squiggle{
    -webkit-animation: squiggly-anim 0.15s linear infinite;
            animation: squiggly-anim 0.15s linear infinite;
}

@-webkit-keyframes squiggly-anim {
    0% {
      -webkit-filter: url("#squiggly-0");
              filter: url("#squiggly-0");
    }
    25% {
      -webkit-filter: url("#squiggly-2");
              filter: url("#squiggly-2");
    }
    50% {
      -webkit-filter: url("#squiggly-1");
              filter: url("#squiggly-1");
    }
    75% {
      -webkit-filter: url("#squiggly-3");
              filter: url("#squiggly-3");
    }
    100% {
      -webkit-filter: url("#squiggly-4");
              filter: url("#squiggly-4");
    }
}

@keyframes squiggly-anim {
    0% {
      -webkit-filter: url("#squiggly-0");
              filter: url("#squiggly-0");
    }
    25% {
      -webkit-filter: url("#squiggly-2");
              filter: url("#squiggly-2");
    }
    50% {
      -webkit-filter: url("#squiggly-1");
              filter: url("#squiggly-1");
    }
    75% {
      -webkit-filter: url("#squiggly-3");
              filter: url("#squiggly-3");
    }
    100% {
      -webkit-filter: url("#squiggly-4");
              filter: url("#squiggly-4");
    }
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                 supported by Chrome, Edge, Opera and Firefox */
  }