@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


html{
    scroll-behavior: smooth;
}
body{
    /* --border-width: min( max(calc( min(100vh, 100vw) / 170), 3px), 7px); */
    --border-color: rgba(0,0,0, 1);
    --border-radius: min( max(calc( min(100vh, 100vw) / 25), 10px), 100px);

    /* overflow: hidden; */
}

/* FLEX PART */
.row-flex-container{
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: hidden;
    align-items: center;
    /* writing-mode: horizontal-tb; */
    transition: opacity 1s ease, -webkit-filter 1s ease;
    transition: opacity 1s ease, filter 1s ease;
    transition: opacity 1s ease, filter 1s ease, -webkit-filter 1s ease;
}

.row-flex-item{
    flex: 0 0 auto;
    margin-left: 150px;
    
    border-radius: var(--border-radius);
    border: 4px solid var(--border-color);

    /* template testing */
    width: 1500px;
    height: 1500px;
    max-height: calc(65vh);
    max-width: calc(65vh);
    background-color: palevioletred;
    background-image: url("./page-assets/air-test.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.flex-empty-space{
    width: 2700px;
    height: 900px;
    max-height: calc(65vh);
    max-width: calc(195vh);
    background-color: transparent !important;
    margin-left: calc(min(3.5vw, 70px)) !important;
    /* background-image: none !important; */
}

.scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
}

/* =========== */
/* SIDE COLUMN */

.side-column-container{
    --gradient-deg: 0deg;

    position: fixed;
    top:0;
    left:0;
    width: 50vw;
    /* min-width: 500px; */
    height: 100vh;
    max-height: 100vh;
    z-index: 1;
    overflow-y: auto;

    /* direction: rtl; */

    background-color: rgba(255,255,255,0.56);
    background-image: url('../pages-assets/grain.gif');
    /* opacity: 60%; */
    font-family: 'Source Serif Pro', serif;
    font-size: 25px;
    font-weight: 600;

    transition: all 0.5s ease, transform 1s ease, width 0.25s ease, opacity 1s ease, -webkit-filter 1s ease;

    transition: all 0.5s ease, transform 1s ease, width 0.25s ease, opacity 1s ease, filter 1s ease;

    transition: all 0.5s ease, transform 1s ease, width 0.25s ease, opacity 1s ease, filter 1s ease, -webkit-filter 1s ease;
    -webkit-animation: bg-position-move 120s ease-out infinite;
            animation: bg-position-move 120s ease-out infinite;

    color: black;
    mix-blend-mode: exclusion;
}

.side-column-container > * {
    direction:ltr;
    padding-left: calc(min(5vw, 110px));
    padding-right: calc(min(5vw, 110px));
    opacity: 100% !important;
}

.column-image{
    max-width: 80%;
}

#column-border{
    position: fixed;
    top: 0;
    left: 50%;
    
    height: 100vh;
    max-height: 100vh;
    width: 3.85px;
    background-color: var(--border-color);

    transition: all 0.5s ease, transform 1s ease, left 0.25s ease, opacity 1s ease, -webkit-filter 1s ease;

    transition: all 0.5s ease, transform 1s ease, left 0.25s ease, opacity 1s ease, filter 1s ease;

    transition: all 0.5s ease, transform 1s ease, left 0.25s ease, opacity 1s ease, filter 1s ease, -webkit-filter 1s ease;
    z-index: 1;
}

@-webkit-keyframes bg-position-move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 250vw 15vh;
    }
}

@keyframes bg-position-move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 250vw 15vh;
    }
}

#side-button{
    position: fixed;
    /* 3.5px is border width of column */
    left: calc(50vw + 3.5px + 7px);
    top: calc(50% - 30px);

    width: 60px;
    height: 60px;

    border: 3.5px solid var(--border-color);
    border-radius: 100%;

    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;

    transition: all 0.25s cubic-bezier(.35,.19,.61,2.2), left 0.75s cubic-bezier(.35,.19,.51,1.35), background-color 0.3s ease, opacity 1s ease, -webkit-filter 1s ease;

    transition: all 0.25s cubic-bezier(.35,.19,.61,2.2), left 0.75s cubic-bezier(.35,.19,.51,1.35), background-color 0.3s ease, opacity 1s ease, filter 1s ease;

    transition: all 0.25s cubic-bezier(.35,.19,.61,2.2), left 0.75s cubic-bezier(.35,.19,.51,1.35), background-color 0.3s ease, opacity 1s ease, filter 1s ease, -webkit-filter 1s ease;
}
#back-button{
    position: fixed;
    /* 3.5px is border width of column */
    left: calc(100vw - 75px);
    top: calc(50% - 30px);

    width: 60px;
    height: 60px;

    border: 3.5px solid var(--border-color);
    border-radius: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;

    transition: all 0.25s cubic-bezier(.35,.19,.61,2.2), left 1s cubic-bezier(.35,.19,.51,1.35), background-color 0.75s ease, opacity 1s ease, -webkit-filter 1s ease;

    transition: all 0.25s cubic-bezier(.35,.19,.61,2.2), left 1s cubic-bezier(.35,.19,.51,1.35), background-color 0.75s ease, opacity 1s ease, filter 1s ease;

    transition: all 0.25s cubic-bezier(.35,.19,.61,2.2), left 1s cubic-bezier(.35,.19,.51,1.35), background-color 0.75s ease, opacity 1s ease, filter 1s ease, -webkit-filter 1s ease;
}

.squiggle{
    -webkit-animation: squiggly-anim 0.15s linear infinite;
            animation: squiggly-anim 0.15s linear infinite;
}
.buzz{
    -webkit-animation: buzz-anim 0.35s linear infinite;
            animation: buzz-anim 0.35s linear infinite;
}

@-webkit-keyframes squiggly-anim {
    0% {
        -webkit-filter: url("#squiggly-0");
                filter: url("#squiggly-0");
        transform: translateX(2px) translateX(2px) rotate(3deg);
    }
    25% {
        -webkit-filter: url("#squiggly-2");
                filter: url("#squiggly-2");
        transform: translateX(3px) translateY(5px) rotate(4deg);
    }
    50% {
        -webkit-filter: url("#squiggly-1");
                filter: url("#squiggly-1");
        transform: translateX(-2px) translateX(-2px) rotate(3deg);
    }
    75% {
        -webkit-filter: url("#squiggly-3");
                filter: url("#squiggly-3");
        transform: translateX(3px) translateY(-3px) rotate(4deg);
    }
    100% {
        -webkit-filter: url("#squiggly-4");
                filter: url("#squiggly-4");
        transform: translateX(2px) translateX(2px) rotate(3deg);
    }
}

@keyframes squiggly-anim {
    0% {
        -webkit-filter: url("#squiggly-0");
                filter: url("#squiggly-0");
        transform: translateX(2px) translateX(2px) rotate(3deg);
    }
    25% {
        -webkit-filter: url("#squiggly-2");
                filter: url("#squiggly-2");
        transform: translateX(3px) translateY(5px) rotate(4deg);
    }
    50% {
        -webkit-filter: url("#squiggly-1");
                filter: url("#squiggly-1");
        transform: translateX(-2px) translateX(-2px) rotate(3deg);
    }
    75% {
        -webkit-filter: url("#squiggly-3");
                filter: url("#squiggly-3");
        transform: translateX(3px) translateY(-3px) rotate(4deg);
    }
    100% {
        -webkit-filter: url("#squiggly-4");
                filter: url("#squiggly-4");
        transform: translateX(2px) translateX(2px) rotate(3deg);
    }
}

/* =========================== */

@-webkit-keyframes buzz-anim {
    0%{
        transform: translateX(8px) translateX(8px) rotate(12deg);
    }
    13%{
        transform: translateX(-20px) translateY(-12px) rotate(-16deg);
    }
    28% {
        transform: translateX(12px) translateY(20px) rotate(16deg);
    }
    42%{
        transform: translateX(-20px) translateY(-20px) rotate(-12deg);
    }
    50% {
        transform: translateX(-8px) translateX(-8px) rotate(12deg);
    }
    63%{
        transform: translateX(-20px) translateY(20px) rotate(-16deg);
    }
    78% {
        transform: translateX(12px) translateY(-12px) rotate(16deg);
    }
    92%{
        transform: translateX(-20px) translateY(20px) rotate(-12deg);
    }
    100% {
        transform: translateX(8px) translateX(8px) rotate(12deg);
    }
}

@keyframes buzz-anim {
    0%{
        transform: translateX(8px) translateX(8px) rotate(12deg);
    }
    13%{
        transform: translateX(-20px) translateY(-12px) rotate(-16deg);
    }
    28% {
        transform: translateX(12px) translateY(20px) rotate(16deg);
    }
    42%{
        transform: translateX(-20px) translateY(-20px) rotate(-12deg);
    }
    50% {
        transform: translateX(-8px) translateX(-8px) rotate(12deg);
    }
    63%{
        transform: translateX(-20px) translateY(20px) rotate(-16deg);
    }
    78% {
        transform: translateX(12px) translateY(-12px) rotate(16deg);
    }
    92%{
        transform: translateX(-20px) translateY(20px) rotate(-12deg);
    }
    100% {
        transform: translateX(8px) translateX(8px) rotate(12deg);
    }
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                 supported by Chrome, Edge, Opera and Firefox */
  }