@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    /* --border-width: min( max(calc( min(100vh, 100vw) / 170), 3px), 7px); */
    --border-color: rgb(26, 26, 26);
    --border-radius: min( max(calc( min(100vh, 100vw) / 25), 10px), 100px);

    transition: background-color 0.75s ease;
    /* overflow: hidden; */
}

@keyframes start-bg-dark{
    0%{
        background-color: black;
    }
    100%{
        background-color: rgb(25,25,25);
    }
}
@keyframes start-bg-light{
    0%{
        background-color: white;
    }
    100%{
        background-color: rgb(243,243,243);
    }
}

@media (prefers-color-scheme: light) {
    body {
        --border-color: rgb(26, 26, 26);
        background-color:rgb(243,243,243);
        color: black;
        animation: start-bg-light 2s ease 1;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        --border-color:rgb(238, 238, 238);
        background-color: rgb(25,25,25);
        color: white;
        animation: start-bg-dark 2s ease 1;
    }
}

/* FLEX PART */
.row-flex-container{
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: hidden;
    align-items: center;
    /* writing-mode: horizontal-tb; */
    transition: opacity 1s ease, -webkit-filter 1s ease;
    transition: opacity 1s ease, filter 1s ease;
    transition: opacity 1s ease, filter 1s ease, -webkit-filter 1s ease;
}

.row-flex-item{
    flex: 0 0 auto;
    margin-left: 150px;
    
    border-radius: var(--border-radius);
    border: 4px solid var(--border-color);

    /* template testing */
    width: 65vh;
    height: 65vh;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}

#flex-start{
    width: 649.638888889vh;
    height: 65vh;
    margin-left: calc(min(3.5vw, 70px)) !important;

    background-color: transparent !important;
    background-image: url('./page-assets/vr.png');
}

.scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
}

/* =========== */
/* SIDE COLUMN */

.side-column-container{
    --gradient-deg: 0deg;

    position: fixed;
    top:0;
    left:0;
    width: 50vw;
    /* min-width: 500px; */
    height: 100vh;
    max-height: 100vh;
    z-index: 1;
    overflow-y: auto;

    /* direction: rtl; */

    background-color: rgba(255,255,255,0.55);
    background-image: url('../pages-assets/grain.gif');
    color: black;
    /* opacity: 60%; */
    font-family: 'Space Mono', monospace;
    font-size: 26px;
    font-weight: 600;

    transition: all 0.5s ease, transform 1s ease, width 0.25s ease, opacity 1s ease, -webkit-filter 1s ease;

    transition: all 0.5s ease, transform 1s ease, width 0.25s ease, opacity 1s ease, filter 1s ease;

    transition: all 0.5s ease, transform 1s ease, width 0.25s ease, opacity 1s ease, filter 1s ease, -webkit-filter 1s ease;
    -webkit-animation: bg-position-move 120s ease-out infinite;
            animation: bg-position-move 120s ease-out infinite;

    mix-blend-mode: exclusion;
}

.side-column-container > * {
    direction:ltr;
    padding-left: calc(min(5vw, 110px));
    padding-right: calc(min(5vw, 110px));
    opacity: 100% !important;
}

.column-image{
    max-width: 80%;
}

#column-border{
    position: fixed;
    top: 0;
    left: 50%;
    
    height: 100vh;
    max-height: 100vh;
    width: 3.85px;
    background-color: var(--border-color);

    mix-blend-mode: difference;
    /* filter: brightness(100%); */

    transition: all 0.5s ease, transform 1s ease, left 0.25s ease, opacity 1s ease, -webkit-filter 1s ease;

    transition: all 0.5s ease, transform 1s ease, left 0.25s ease, opacity 1s ease, filter 1s ease;

    transition: all 0.5s ease, transform 1s ease, left 0.25s ease, opacity 1s ease, filter 1s ease, -webkit-filter 1s ease;
    z-index: 1;
}

@-webkit-keyframes bg-position-move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 250vw 15vh;
    }
}

@keyframes bg-position-move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 250vw 15vh;
    }
}

#side-button{
    position: fixed;
    /* 3.5px is border width of column */
    left: calc(50vw + 3.5px + 7px);
    top: calc(50% - 30px);

    width: 60px;
    height: 60px;

    border: 3.5px solid var(--border-color);
    border-radius: 100%;

    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;

    mix-blend-mode: difference;
    filter: contrast(0%) brightness(70%);

    transition: all 0.25s cubic-bezier(.35,.19,.61,2.2), left 0.75s cubic-bezier(.35,.19,.51,1.35), background-color 0.3s ease, opacity 1s ease, -webkit-filter 1s ease;

    transition: all 0.25s cubic-bezier(.35,.19,.61,2.2), left 0.75s cubic-bezier(.35,.19,.51,1.35), background-color 0.3s ease, opacity 1s ease, filter 1s ease;

    transition: all 0.25s cubic-bezier(.35,.19,.61,2.2), left 0.75s cubic-bezier(.35,.19,.51,1.35), background-color 0.3s ease, opacity 1s ease, filter 1s ease, -webkit-filter 1s ease;
}
#back-button{
    position: fixed;
    /* 3.5px is border width of column */
    left: calc(100vw - 75px);
    top: calc(50% - 30px);

    width: 60px;
    height: 60px;

    border: 3.5px solid var(--border-color);
    border-radius: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;

    mix-blend-mode: difference;
    filter: contrast(0%) brightness(70%);

    transition: all 0.25s cubic-bezier(.35,.19,.61,2.2), left 1s cubic-bezier(.35,.19,.51,1.35), background-color 0.75s ease, opacity 1s ease, -webkit-filter 1s ease;

    transition: all 0.25s cubic-bezier(.35,.19,.61,2.2), left 1s cubic-bezier(.35,.19,.51,1.35), background-color 0.75s ease, opacity 1s ease, filter 1s ease;

    transition: all 0.25s cubic-bezier(.35,.19,.61,2.2), left 1s cubic-bezier(.35,.19,.51,1.35), background-color 0.75s ease, opacity 1s ease, filter 1s ease, -webkit-filter 1s ease;
}
@media (prefers-color-scheme: light) {
    #side-button{
        filter: contrast(0%) brightness(70%);
    }
    #back-button{
        filter: contrast(0%) brightness(70%);
    }
}
@media (prefers-color-scheme: dark) {
    #side-button{
        filter: contrast(0%) brightness(180%);
    }
    #back-button{
        filter: contrast(0%) brightness(180%);
    }
}

.squiggle{
    -webkit-animation: squiggly-anim 0.15s linear infinite;
            animation: squiggly-anim 0.15s linear infinite;
}
.buzz{
    -webkit-animation: buzz-anim 0.35s linear infinite;
            animation: buzz-anim 0.35s linear infinite;
}

@-webkit-keyframes squiggly-anim {
    0% {
        -webkit-filter: url("#squiggly-0") brightness(250%);
                filter: url("#squiggly-0") brightness(250%);
        transform: translateX(2px) translateX(2px) rotate(3deg);
    }
    25% {
        -webkit-filter: url("#squiggly-2") brightness(250%);
                filter: url("#squiggly-2") brightness(250%);
        transform: translateX(3px) translateY(5px) rotate(4deg);
    }
    50% {
        -webkit-filter: url("#squiggly-1") brightness(250%);
                filter: url("#squiggly-1") brightness(250%);
        transform: translateX(-2px) translateX(-2px) rotate(3deg);
    }
    75% {
        -webkit-filter: url("#squiggly-3") brightness(250%);
                filter: url("#squiggly-3") brightness(250%);
        transform: translateX(3px) translateY(-3px) rotate(4deg);
    }
    100% {
        -webkit-filter: url("#squiggly-4") brightness(250%);
                filter: url("#squiggly-4") brightness(250%);
        transform: translateX(2px) translateX(2px) rotate(3deg);
    }
}

@keyframes squiggly-anim {
    0% {
        -webkit-filter: url("#squiggly-0") brightness(250%);
                filter: url("#squiggly-0") brightness(250%);
        transform: translateX(2px) translateX(2px) rotate(3deg);
    }
    25% {
        -webkit-filter: url("#squiggly-2") brightness(250%);
                filter: url("#squiggly-2") brightness(250%);
        transform: translateX(3px) translateY(5px) rotate(4deg);
    }
    50% {
        -webkit-filter: url("#squiggly-1") brightness(250%);
                filter: url("#squiggly-1") brightness(250%);
        transform: translateX(-2px) translateX(-2px) rotate(3deg);
    }
    75% {
        -webkit-filter: url("#squiggly-3") brightness(250%);
                filter: url("#squiggly-3") brightness(250%);
        transform: translateX(3px) translateY(-3px) rotate(4deg);
    }
    100% {
        -webkit-filter: url("#squiggly-4") brightness(250%);
                filter: url("#squiggly-4") brightness(250%);
        transform: translateX(2px) translateX(2px) rotate(3deg);
    }
}

/* =========================== */

@-webkit-keyframes buzz-anim {
    0%{
        filter: brightness(250%);
        transform: translateX(8px) translateX(8px) rotate(12deg);
    }
    13%{
        filter: brightness(250%);
        transform: translateX(-20px) translateY(-12px) rotate(-16deg);
    }
    28% {
        filter: brightness(250%);
        transform: translateX(12px) translateY(20px) rotate(16deg);
    }
    42%{
        filter: brightness(250%);
        transform: translateX(-20px) translateY(-20px) rotate(-12deg);
    }
    50% {
        filter: brightness(250%);
        transform: translateX(-8px) translateX(-8px) rotate(12deg);
    }
    63%{
        filter: brightness(250%);
        transform: translateX(-20px) translateY(20px) rotate(-16deg);
    }
    78% {
        filter: brightness(250%);
        transform: translateX(12px) translateY(-12px) rotate(16deg);
    }
    92%{
        filter: brightness(250%);
        transform: translateX(-20px) translateY(20px) rotate(-12deg);
    }
    100% {
        filter: brightness(250%);
        transform: translateX(8px) translateX(8px) rotate(12deg);
    }
}

@keyframes buzz-anim {
    0%{
        filter: brightness(250%);
        transform: translateX(8px) translateX(8px) rotate(12deg);
    }
    13%{
        filter: brightness(250%);
        transform: translateX(-20px) translateY(-12px) rotate(-16deg);
    }
    28% {
        filter: brightness(250%);
        transform: translateX(12px) translateY(20px) rotate(16deg);
    }
    42%{
        filter: brightness(250%);
        transform: translateX(-20px) translateY(-20px) rotate(-12deg);
    }
    50% {
        filter: brightness(250%);
        transform: translateX(-8px) translateX(-8px) rotate(12deg);
    }
    63%{
        filter: brightness(250%);
        transform: translateX(-20px) translateY(20px) rotate(-16deg);
    }
    78% {
        filter: brightness(250%);
        transform: translateX(12px) translateY(-12px) rotate(16deg);
    }
    92%{
        filter: brightness(250%);
        transform: translateX(-20px) translateY(20px) rotate(-12deg);
    }
    100% {
        filter: brightness(250%);
        transform: translateX(8px) translateX(8px) rotate(12deg);
    }
}

#transition{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 3;
    transition: opacity 0.75s ease;
}
@media (prefers-color-scheme: light) {
    #transition {
        background-color: white;
    }
}
@media (prefers-color-scheme: dark) {
    #transition {
        background-color: black;
    }
}
#transition.away{
    opacity: 0;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                 supported by Chrome, Edge, Opera and Firefox */
  }