@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');


body{
    background-color: rgba(255, 255, 255, 0);
    background-image: url('assets/grain.gif');
    background-attachment: fixed;
    background-repeat: repeat;

    animation: bg-move 300s linear infinite;
}

@keyframes bg-move{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 0 10000px;
    }
}
.text{
    position: relative;
    font-family: 'Monofett', cursive;
    font-size: 70px;
    font-weight: 400;
    white-space: nowrap;
    letter-spacing: 0.5px;
    word-spacing: 30px;
}

#text1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    z-index: 1;
    animation: switch1 30s ease infinite;
}

#text2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    overflow: scroll;
    animation: switch2 30s ease infinite;
}

@keyframes switch1{
    0%{
        opacity: 55%;
        z-index: 1;
    }
    49%{
        opacity: 55%;
        z-index: 1;
    }
    50%{
        opacity: 0;
        z-index: 0;
    }
    99%{
        opacity: 0;
        z-index: 0;
    }
    100%{
        opacity: 55%;
        z-index: 1;
    }
}
@keyframes switch2{
    0%{
        opacity: 0;
        z-index: 0;
    }
    49%{
        opacity: 0;
        z-index: 0;
    }
    50%{
        opacity: 55%;
        z-index: 1;
    }
    99%{
        opacity: 55%;
        z-index: 1;
    }
    100%{
        opacity: 0;
        z-index: 0;
    }
}

#info{
    position: fixed;
    top:0;
    right:1%;
    font-family: 'Monofett', cursive;
    font-size: 30px;
    height: auto;
    letter-spacing: 0px;
    word-spacing: 10px;
    text-align: right;
    z-index: 3;
}

.sound{
    z-index: 2;
    position: fixed;
    
    
    border-radius: min( max(calc(100vw / 15), 50px), 100px);
    mix-blend-mode: exclusion;

    transition: all 0.25s ease;
}
.sound:hover{
    mix-blend-mode: normal;
}

#sound1{
    right: calc(100vw - max(min(20vw, 300px), 150px) - 15vw);
    top: 20vh; 
}

#sound2{
    right: calc(100vw - max(min(20vw, 300px), 150px) - 60vw);
    top: 40vh; 
}

#sound3{
    right: calc(100vw - max(min(20vw, 300px), 150px) - 35vw);
    bottom: 10vh; 
}
#sound4{
    left: calc(100vw - max(min(20vw, 300px), 150px) - 5vw);
    bottom: 15vh; 
}

#sound5{
    left: calc(100vw - max(min(20vw, 300px), 150px) - 70vw);
    bottom: 25vh; 
}
#sound6{
    left: calc(100vw - max(min(20vw, 300px), 150px) - 35vw);
    top: 5vh; 
}

.synthPop{
    width: 20vw;
    height: 20vw;
    min-width: 150px;
    min-height: 150px;
    max-width: 300px;
    max-height: 300px;

    animation: synth 30s ease infinite;
}

.dreamPop{
    width: 10vw;
    height: 10vw;
    min-width: 75px;
    min-height: 75px;
    max-width: 150px;
    max-height: 150px;

    animation: dream 30s ease infinite;
}

@keyframes synth{
    0%{
        width: 20vw;
        height: 20vw;
        min-width: 150px;
        min-height: 150px;
        max-width: 300px;
        max-height: 300px;
    }
    49%{
        width: 20vw;
        height: 20vw;
        min-width: 150px;
        min-height: 150px;
        max-width: 300px;
        max-height: 300px;
    }
    50%{
        width: 10vw;
        height: 10vw;
        min-width: 75px;
        min-height: 75px;
        max-width: 150px;
        max-height: 150px;
    }
    99%{
        width: 10vw;
        height: 10vw;
        min-width: 75px;
        min-height: 75px;
        max-width: 150px;
        max-height: 150px;
    }
    100%{
        width: 20vw;
        height: 20vw;
        min-width: 150px;
        min-height: 150px;
        max-width: 300px;
        max-height: 300px;
    }
}

@keyframes dream{
    0%{
        width: 10vw;
        height: 10vw;
        min-width: 75px;
        min-height: 75px;
        max-width: 150px;
        max-height: 150px;
    }
    49%{
        width: 10vw;
        height: 10vw;
        min-width: 75px;
        min-height: 75px;
        max-width: 150px;
        max-height: 150px;
    }
    50%{
        width: 20vw;
        height: 20vw;
        min-width: 150px;
        min-height: 150px;
        max-width: 300px;
        max-height: 300px;
    }
    99%{
        width: 20vw;
        height: 20vw;
        min-width: 150px;
        min-height: 150px;
        max-width: 300px;
        max-height: 300px;
    }
    100%{
        width: 10vw;
        height: 10vw;
        min-width: 75px;
        min-height: 75px;
        max-width: 150px;
        max-height: 150px;
    }
}