@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root{
    font-size: 15px;
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body{
    overflow: hidden;
    background-color: rgb(245,245,245);
}

.headerLottie-bg{
    position: absolute;
    width: 100%;
    overflow: hidden;
}
.headerLottie-people-container{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url("header-images/header-people-1920w.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    background-position: 0;
    opacity: 30%;
    box-sizing: border-box;
    animation: headerLottie-people-pan 50s linear infinite;
}

@media only screen and (max-width: 900px) {
    .headerLottie-people-container{
        background-image: url("header-images/header-people-1080w.jpg");
    }
}
@media only screen and (max-height: 900px) {
    .headerLottie-people-container{
        background-image: url("header-images/header-people-1080w.jpg");
    }
}

@keyframes headerLottie-people-pan{
    from{background-position: 0 0;}
    to{background-position: calc(100% - 100vw) 0;}
}

.headerLottie-floating-circle{
    position: absolute;
    border-radius: 100%;
    transition: left ease 0.5s, right ease 0.5s, background-color ease 0.5s;
}
#headerLottie-circle1{
    width: calc(0.3*min(100vw, 100vh));
    height: calc(0.3*min(100vw, 100vh));
    top: 100%;
    left: 15%;
    background-color: #8676c29d;
    transform: translate(0,0) scale(0);
    animation-name: headerLottie-circle-float1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.37,.75,.76,.36);
    animation-delay: 8s;
}
@keyframes headerLottie-circle-float1 {
    0%{
        transform: translate(0,-40vh) scale(1);
        opacity: 0;
    }
    15%{opacity: 1;}
    40%{opacity: 1;}
    45%{opacity: 0.75;}
    50%{
        transform: translate(-12vw,-80vh) scale(1);
        opacity: 0;
    }
    100%{
        transform: translate(-12vw,-80vh) scale(1);
        opacity: 0;
    }
}

#headerLottie-circle2{
    width: calc(0.2*min(100vw, 100vh));
    height: calc(0.2*min(100vw, 100vh));
    top: 0;
    right: 45%;
    background-color: #ddbe69a2;
    transform: translate(0,0) scale(0);
    animation-name: headerLottie-circle-float2;
    animation-duration: 17s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.59,1.03,.31,-0.21);
    animation-delay: 7.5s;
}
@keyframes headerLottie-circle-float2 {
    0%{
        transform: translate(0,0) scale(1);
        opacity: 0;
    }
    15%{opacity: 1;}
    40%{opacity: 1;}
    45%{opacity: 0.75;}
    50%{
        transform: translate(10vw,60vh) scale(1);
        opacity: 0;
    }
    100%{
        transform: translate(10vw,60vh) scale(1);
        opacity: 0;
    }
}

.headerLottie-title-container{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0;
}

.headerLottie-title{
    --headerLottie-main-fs: 3.5rem;
    --headerLottie-sub-fs: 1.45rem;
    width: 35%;
    padding-left: 7%;

    font-family: 'Oswald', sans-serif;
    text-align: right;
    word-wrap: break-word;
    z-index: 1;
}
.headerLottie-main-title::before{
    content: "PERSONALIZED\A LEARNING\A IN A GLOBAL\A COMMUNITY";
}
.headerLottie-main-title{
    color: #70468c; 
    font-size: var(--headerLottie-main-fs); 
    font-weight: 600;
    -webkit-filter: drop-shadow(-10px -5px 1px #abb0db6e);
            filter: drop-shadow(-10px -5px 1px #abb0db6e);
    white-space: pre;
    transform: perspective(800px) rotateY(0deg);
    opacity: 1;
    transition: transform 2s ease, opacity 1s ease;
}
.headerLottie-sub-title{
    color: #3a3a3a;
    font-size: var(--headerLottie-sub-fs);
    font-weight: 400;
    transform: perspective(800px) rotateY(0deg);
    opacity: 1;
    transition: transform 2s ease, opacity 1s ease;
    transition-delay: 0.15s;
}
.headerLottie-title-hidden{
    transform: perspective(800px) rotateY(30deg);
    opacity: 0;
}

.headerLottie-lottie{
    margin-top: -1%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    width: auto;
}

/* media query for screen width */
@media only screen and (max-height: 1250px) {
    .headerLottie-title{
        --headerLottie-main-fs: 3rem;
        --headerLottie-sub-fs: 1.35rem;
    }
}
@media only screen and (min-width: 4300px) {
    .headerLottie-title{
        --headerLottie-main-fs: 9.5rem;
        --headerLottie-sub-fs: 4.1rem;
    }
}
@media only screen and (max-width: 4300px) {
    .headerLottie-title{
        --headerLottie-main-fs: 7.5rem;
        --headerLottie-sub-fs: 3.1rem;
    }
}
@media only screen and (max-width: 3200px) {
    .headerLottie-title{
        --headerLottie-main-fs: 5.5rem;
        --headerLottie-sub-fs: 2rem;
    }
}
@media only screen and (max-width: 2400px) {
    .headerLottie-title{
        --headerLottie-main-fs: 4rem;
        --headerLottie-sub-fs: 1.5rem;
    }
}
@media only screen and (max-width: 1800px) {
    .headerLottie-title{
        --headerLottie-main-fs: 3.5rem;
        --headerLottie-sub-fs: 1.45rem;
    }
}
@media only screen and (max-width: 1350px) {
    .headerLottie-title{
        --headerLottie-main-fs: 3.25rem;
        --headerLottie-sub-fs: 1.35rem;
    }
}
@media only screen and (max-width: 1050px) {
    .headerLottie-title{
        --headerLottie-main-fs: 2.75rem;
        --headerLottie-sub-fs: 1.25rem;
    }
}
@media only screen and (max-width: 950px) {
    .headerLottie-title{
        --headerLottie-main-fs: 2rem;
        --headerLottie-sub-fs: 1.25rem;
    }
}
@media only screen and (max-width: 850px) {
    .headerLottie-title{
        --headerLottie-main-fs: 1.75rem;
        --headerLottie-sub-fs: 1.2rem;
    }
}
@media only screen and (max-width: 650px) {
        .headerLottie-title{
            --headerLottie-main-fs: 1.6rem;
            --headerLottie-sub-fs: 1.1rem;
        }
}
@media only screen and (max-width: 550px) {
    .headerLottie-title{
        --headerLottie-main-fs: 1.5rem;
        --headerLottie-sub-fs: 1rem;
    }
}
@media only screen and (max-width: 450px) {
    .headerLottie-title{
        --headerLottie-main-fs: 1.4rem;
        --headerLottie-sub-fs: 0.9rem;
    }
}

/* change flex when too narrow */
@media only screen and (max-width: 950px),
            screen and (max-height: 550px){
    #headerLottie-circle1{
        left: 15%;
        background-color: #ddbe69a2;
    }
    #headerLottie-circle2{
        right: 15%;
        background-color: #8676c29d;
    }
    .headerLottie-title-container{
        flex-direction: column-reverse;
        /* justify-content: flex-start; */
    }
    .headerLottie-title{
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .headerLottie-main-title{ white-space: normal; padding-left: 4%; padding-right: 4%; }
    .headerLottie-sub-title{ padding-left: 8%; padding-right: 8%; }
}
